<form [formGroup]="monForm" (ngSubmit)="recherche()">
  <div>
    <label>Ville: </label>
    <input type="text" formControlName="ville">
  </div>
  <input type="submit" [disabled]="!monForm.valid" value="Rechercher">
</form>

<!-- Affichage de la liste des villes retournées par l'API GEO-->
<div *ngIf="resultat">
<!--<pre>{{ resultat | json }}</pre>-->
<ul>
  <li *ngFor="let v of resultat;" (click)="selection(v)">{{ v.nom }} ({{ v.departement.nom }} - {{ v.departement.code}})</li>
</ul>
</div>

<div *ngIf="myMeteo">
 <h3>Température: {{ myMeteo.current.temp }}°C</h3>
 <h3>Pression: {{ myMeteo.current.pressure }} hPa</h3>
 <h3>Temps: {{ myMeteo.current.weather[0].description }}</h3>
 <img src="http://openweathermap.org/img/wn/{{ myMeteo.current.weather[0].icon }}@2x.png">
</div>
