
<!-- router-outlet est le composant qui va "afficher"
  les composants en fonction du path -->
  <br><br><br>
<nav>
  <ul>
    <li><a routerLink="/" routerLinkActive="active" >Accueil</a></li>
    <li><a routerLink='C1' routerLinkActive="active">C1</a></li>
    <li><a routerLink="C2" routerLinkActive="active">C2</a></li>
    <li><a routerLink="C3/1" routerLinkActive="active">C3</a></li>
    <li><a routerLink="discussion" routerLinkActive="active">Discussion</a></li>
    <li><a routerLink="formulaire" routerLinkActive="active">Formulaire</a></li>
    <li><a routerLink="meteo" routerLinkActive="active">Météo</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>
