/* You can add global styles to this file, and also import other style files */
:root {
  --app-primary: cyan;
  --app-sucess: lime;
  --app-warning: orange;
  --app-danger: red;
  --app-background: #eaeaea;
  --app-padding: 1em;
}
